.fatherchildren * {
    margin: 20px auto;

}
.fatherchildren{
    
    width: 85%;
    margin: 1% auto;
}

.addpub{
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
}
.parme{
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 1% auto;
    
    width: 80%;
}
.parme>*{
    margin: 1%;
}

.petitchild{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    
}

.petitchild>*{
    text-align: center;
}
.petitchild button{
    background-color: white;
    border: 2px solid blue;
    width: 20%;
    height: 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.petitchild button:hover{
    background-color: blue;
    color: white;
}


p{
    text-align: center;
    font-weight: 500;
    margin: 5px;
}

.addpub input{
    width: 90%;
    border: 2px solid black;
    margin: 1% auto;
}

.addpub button{
    background-color: rgb(118, 118, 224);
    color: white;
    width: 50%;
   margin: 1% auto;
 

}
.navbar{
    height: 100px;
}
.logoutuser{
    height: 50px;
    background-color: rgb(245, 51, 51);
    width: 50%;
    margin-right: 1%;
    border: 1px solid white;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
.editaccount{
    height: 50px;
    background-color: rgb(119, 119, 247);
    width: 50%;
    margin-right: 1%;
        border: 1px solid white;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}

.headchild{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}
.profiluser{
    border: 2px solid black;
    width: 55%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.profiluser img{
    margin-left: 5%;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.coordonnnes{
    width: 60%;
    margin: auto;
}
.coordonnnes>*{
    margin: 10px auto;
    text-align: center;
}

.children{
    width: 100%;
    border: 2px solid black !important;
    text-align: center;
    box-shadow: 0 0 10px black;
    padding: 1%;

}
.children p{
    text-align: left;
    margin-left: 3%;
}

.children h4{
    color: black;
}

.news h5{
    margin: 1% 0;
}
.children img{
    padding: 0 5%;
}

.navit{
    display: flex;
    justify-content: space-between;
}

.navit img{
    width: 15%;
    height: 100%;
}
.consult{
    background-color: transparent;
    border: none;
}

.themthem{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}
.them{
    width: 100%;
    border: 2px solid black;
    margin: 1%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 10px black;
}

.btns1{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.btns2{
 
    margin: 1%;
    display: flex;
    justify-content: space-between;
    width: 30%;
}