
.feedchild{
    background-color: rgb(221, 218, 218);
    width: 80%;
    margin: 2% auto;
    padding: 2%;
    box-shadow: 0 0 10px black;
   
}
.adminchoix{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 1% auto;
}
.adminchoix>*{
    width: 45%;
    height: 40px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.lawla{
    background-color: green;

}
.lawla:hover{
    background-color: white;
    color: green;
    border: 2px solid green;
}

.thenya{
    background-color: red;
}
.thenya:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}




.feedhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedhead button{
    width: 20%;
    height: 40px;
    margin: 2%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgb(201, 13, 13);
}
.feedhead button:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}