.blak{
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 50px;
    align-items: center;
    padding: 0 2%;
}

.part1{
    background-color: #cdf1f6;
}

.part1-1{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
    width: 100%;
}
.part1-1 ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.part1-1 ul li{
   
    text-decoration:none !important;
    list-style: none;
}
.part1-1 ul li a{
    text-decoration: none !important;
    color: black;
}

.part1-1 button a{
    text-decoration: none;
}
.part1-2{
    display: flex;
}
.part1-2-1{
  
    width: 50%;
    text-align: center;
    margin: auto auto;
}
.part1-2-1 h1{
    color: #0355cc;
    font-weight: bold;
    margin-bottom: 30px;
}
.part1-2-1 button{
    background-color: white;
    border: 2px solid blue;
    color:blue;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 30%;
    height: 40px;
}

.part1-2-1 button:hover{
    background-color: blue;
    color: white;
}

.part2{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.part2-1{
    
    box-shadow: 0 0 10px black;
    width: 25%;
    text-align: center;
}
.part2-1:hover{
    background-color: #ff8a1d;
}
.part2-1 img{
    width: 250px;
    height: 200px;
    margin: 5%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.part3{
    display: flex;
    width: 90%;
    margin: 100px auto;
}
.part3 img{
    width: 50%;
    margin: 0 auto;
}
.part3-1{
    width: 40%;
    margin: auto;
    text-align: center;
}


.part3-1>*{
    margin: 3%;
    
}
.part3-1 button{
    width: 40%;
    color: white;
    background-color: #0355cc;
    height: 50px;
}
.part3-1 button:hover{
    background-color: white;
    border: 2px solid blue;
    color:blue;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.part4{
    background-color: #cdf1f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 2%;
}
.part4 img{
    margin: 3%;
}
.part4-1>*{
    margin: 3%;
}

.part4-1 button{
    width: 40%;
    color: white;
    background-color: #ff8a1d;
    height: 50px;
}
.part5{
    margin: 100px 0;
    text-align: center;
}
.part5 h1{
    font-weight: bold;
    margin: 60px 0;
}
.part5 button{
    margin-top: 2%;
    background-color: #ff8a1d;
    width: 20%;
    height: 40px;
    color: white;
}
.part5 button:hover{
    background-color: white;
    color: #ff8a1d;
    border: 2px solid #ff8a1d;
}


.part5-1{

    width: 90% !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto;
}


.part5-1child{
    box-shadow: 0 0 10px black;
    width: 25%;
    margin: 1%;
    padding: 2%;
}

.part5-1child a{
    text-decoration: none;
    color: black;
}
.part5-1child p{
    margin: 10% 0;
}
.part5-1child>*{
    margin: 5%;
}

.part5-1child:hover{
    background-color: #ff8a1d;
}

.part5-1child img{
    width:70%;
    height:70%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.part6{

    text-align: center;
}

.part6-1{
    width: 40%;
    margin: 2% 5%;
    text-align: center;
    padding: 2%;
    box-shadow: 0 0 10px black;
}
.part6-1>*{
    margin: 2% 0;
}
.part6-1 img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.part6father{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.part6-1child>*{
    margin: 1% 0;
}


.children{
    border: 2px solid rgb(230, 230, 231);
    width: 80%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.children img{
    width:100%;
    min-width:100%;
    max-height: 400px;
    margin-top: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.fatherchildren{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    
}

.fatherchildren * {
    margin: 20px auto;

}

.navhomepage{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
   
}

.navhomepage ul{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navhomepage ul li{
    list-style: none !important;
    text-decoration: none !important;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(230, 230, 231);
    border-radius: 10px;
    text-align: center;
    align-items: center;

}



.btndrop{
 margin-right: 20px;
}

button{
    width: 100%;
    border: none;
    height: 30px;
    padding: 2px 5px;
}

