.children{
    border: 2px solid rgb(230, 230, 231);
   
}
.children * {
    margin: 10px auto;
    text-align: center;
    align-items: center;
    margin: 10px ;

}
.children :first-child{
    margin: auto;
    width: 100%;

}

.fatherchildren * {
    margin: 20px auto;

}

.HomePage{
    width: 100%;
}

navbar{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
   
}

navbar ul{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
navbar ul li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(230, 230, 231);
    border-radius: 10px;
    text-align: center;
    align-items: center;

}
Link{
    text-decoration: none;
}


.btndrop{
 margin-right: 20px;
}

button{
    width: 100%;
    border: none;
    height: 30px;
    padding: 2px 5px;
}

