.loginadmin{
    width: 50%;
    background-color:rgba(40, 57, 101, .9);
    padding: 20px ;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0px 0px 30px rgb(138, 137, 137);
}

.loginformchild{
    background-color: #c8c8c8;
    padding: 20px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.loginformchild>* {
    text-align: center;  
}

label{
    display: block;
    margin: 10px 0;
    text-align: left;
    margin-left: 7%;
    margin-bottom: 0;
}

input{
    width: 90%;
    margin: 2% 0;
    height: 45px;
    border: none;
    border-radius: 20px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.button{
    background-color: blue;
    color: white;
    text-align: center;
}